@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1>Recently added</h1>
<ul id="new-list">
    <partial name="_ManuscriptListPage" model="Model.NewPage" />
</ul>

<h1>Recently updated</h1>
<ul id="updated-list">
    <partial name="_ManuscriptListPage" model="Model.UpdatedPage" />
</ul>
